.cl-1 {
  background-color: rgb(82, 128, 161);
}

.cl-2 {
  background-color: rgb(161, 82, 140);
}
.cl-3 {
  background-color: rgb(82, 128, 161);
}
.col-grid {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}