.images {
  border:none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.info {
  width: 200px;
}
.name {
  font-weight: bold;
  font-size: 14px;
}

.des1 {
  height: 20px;
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.des2 {
  height: 20px;
  color: rgb(200, 200, 200);
  font-size: 13px;
  
}

p {
  margin: 0px 0px;
}

.follow-button {
  background-color: rgb(99, 164, 255);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
}