.name {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}
.avt-fc {
  height: 40px;
  border: none;
  border-radius: 50%;
}
.add-button {
  color: white;
  background-color: rgb(24, 119, 242);
  border: none;
  padding: 8px 18px;
  font-size: 13px;
  border-radius: 5px;
  font-family: Arial;
  font-weight: bold;
}
.message-button {
  background-color: rgb(230, 230, 230);
  border: none;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 18px;
  font-family: Arial;
  border-radius: 5px;
  margin-left: 3px;
}
.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 50px;
  padding-right: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}