.avatar {
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-bottom: 8px;
}
.sidebar1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 35, 35);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.sidebar2 {
  background-color: rgb(55, 55, 55);
  position: fixed;
  top: 0px;
  left: 59px;
  bottom: 0px;
}
.info {
  color: white;
  font-family: Arial;
  font-size: 11px;
}

.head {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}
.plus {
  color: rgb(150, 150, 150);
  font-family: Arial;
  font-size: 23px;
  padding-right: 10px;
}
.category {
  padding-left: 10px;
  color: rgb(150, 150, 150);
  font-size: 14px;
  line-height: 27px;
}