p {
  font-family: Arial;
}
.sidebar {
  position: fixed;
  background-color: green;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  width: 100px;
}
body {
  height: 3000px;
}
.title-modal {
  font-weight: bold;
  font-size: 25px;
}

.announce {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 230px;
  padding: 20px 20px;
}
.brg {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}