.name,
.email {
  margin-bottom: 5px;
  border: solid;
  border-color: rgb(163, 162, 162);
  border-width: 1px;
  padding: 2px 2px;
  width: 110px;
  display: block;
}

.suggest {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.yes, 
.no{
  display: inline-block;
  font-size: 15px;
  border: solid;
  border-color: rgb(151, 150, 150);
  background-color: white;
  border-width: 1px;
  border-radius: 5px;
}

.google-logo {
  display: block;
  width: 170px;
  margin-left: 300px;
}

.search-2 {
  margin-left: 150px;

  width: 200px;
  font-size: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 250px;
  padding-left: 15px;
  border: none;

  border-radius: 100px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
  border-color: rgb(200, 200, 200);
}

.lsn,
.fsn {
  width: 90px;
  padding: 8px 15px;
  font-size: 14px;

  border: solid;
  border-width: 1px;
  border-color: rgb(159, 150, 150);
  border-radius: 5px;

  margin-bottom: 10px;
}
.email {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 121px;
  padding-left: 15px;
  font-size: 14px;
  border: solid;
  border-width: 1px;
  border-color: rgb(159, 150, 150);
  border-radius: 5px;
}

.sign-up-button {
  background-color: rgb(47, 104, 218);
  color: white;
  padding: 14px 94px;
  font-size: 16px;

  border: none;
  border-width: 1px;
  border-radius: 7px;
  opacity: 0.98;
}

