p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mandai {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  border:none;
  vertical-align: middle;
}

.text {
  border: none;
  font-size: 16px;
  padding-right: 50px;
  vertical-align: middle;
  padding-left: 5px;
}
.tweet-button {
  font-weight: bold;
  color: white;
  background-color: rgb(29, 155, 240);
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 13px;
}

.status {
  padding: 10px 13px;
  margin-top: 100px;
  width: 380px;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.3);
  margin-left: 200px;
}