p {
  margin: 0px 0px;
  font-family: Arial;
}
.images {
  width: 170px;
  height: 170px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.name {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
}
.fr {
  opacity: 0.5;
  margin-top: 3px;
  font-size: 14px;
  margin-left: 10px;
}

.add-friend {
  font-size: 15px;
  margin-top: 10px;
  color: white;
  background-color: rgb(65, 114, 237);
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.first {
  display: inline-block;
  width: 170px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}
