p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0px;
  padding-top: 60px;
  padding-left: 80px;
  height:900px;
}
@media(min-width: 1200.1px) {
  body {
    margin-left: 120px;
    transition: margin-left 0.5s linear;
  }
}