
@media (max-width: 1200px) {
  .sidebar {
    position:fixed;
    left: 0;
    bottom: 0;
    top: 40px;
    background-color: rgb(255, 255, 255);
    width: 72px;
    z-index: 2;
  }
  .items {
    display: flex;
    flex-direction: column;
    height: 410px;
    align-items: center;
  
    padding-top: 26px;
  }
  .sidebar-icon {
    height: 24px;
    padding-bottom: 7px;
  }
  .name-icon {
    font-family: Arial;
    font-size: 10px;
  }
  .total-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .total-icon:hover {
    background-color: rgb(235, 235, 235);
  }
}
@media (min-width: 1200.1px) {
  .sidebar {
    position:fixed;
    left: 0;
    bottom: 0;
    top: 40px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    z-index: 2;
    transition: all 0.3ms;
  }
  .items {
    display: flex;
    flex-direction: column;
    height: 410px;
    align-items: start;
  
    padding-top: 26px;
  }
  .sidebar-icon {
    height: 24px;
    padding-bottom: 7px;
  }
  .name-icon {
    font-family: Arial;
    font-size: 12px;
    margin-left: 10px;
    white-space: nowrap;
  }
  .total-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    width: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 25px;
  }
  .total-icon:hover {
    background-color: rgb(235, 235, 235);
  }
}