body {
  background-color: rgb(24, 25, 26);
  font-family: Arial;
  height: auto;
  display: flex;

}
div {
  font-family: Arial;
}

@media (max-width: 700px){
  .middle-section {
    display: none;
  }
  .search-bar {
    width: 40px;
    flex-basis: 40px;
  }
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

@media (max-width:1089px) {
  .sidebar-1 {
    display: none !important;
  }

  .display-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
}
@media (max-width:900px) {
  .sidebar-right {
    display: none !important;
  }
}
@media (min-width:886px) and (max-width: 899px){

  .display-grid {
    display: grid;
    grid-template-columns: 1fr ;
  }
  
}