.main {

  position: relative;
  top: 64px;
  left: 92px;

  width: 690px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;

  flex: auto;
}
.status {
  height: 123px;
  width: 590px;
  background-color: rgb(37, 39, 40);
  border: none;
  border-radius: 10px;

}
.status-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-bottom: 12px;
  border-bottom-style: solid;
  border-bottom-color:  rgb(56, 56, 56);
  border-bottom-width: 0.5px;
}
.status-margin {
  margin: 12px 16px;
}
.text-status {
  width: 100%;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  margin-left: 8px;
  background-color: rgb(55, 55, 55);
  border-radius: 19px;
  border: none;

}
.text-status::placeholder {
  padding-left: 10px;
  font-size: 16px;
}
.profile-icon-2 {
  height: 41px;
  width: 45px;
  object-fit: cover;
  object-position: bottom;
  border: none;
  border-radius: 50%;
}
.live-icon {
  height: 20px;
}
.img-icon {
  height: 23px;
}
.happy-icon {
  height: 23px;
  border: none;
  border-radius: 50%;
}
.row-info-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 40px;
  cursor: pointer;
  flex: 1;
  border: none;
  border-radius: 8px;
}
.row-info-status:hover {
  background-color: rgb(71, 71, 71);
}
.status-bottom {
  margin-top: 8px;
  display: flex;
}
.text-status-icon {
  color: rgb(168, 168, 168);
  margin-left: 8px;
  font-size: 15.5px;
}
.str1 {
  height: 200px;
}
.story {
  display: flex;
  position: relative;
  margin-top: 17px;
  height: 200px;
  width: 113;
  cursor: pointer;
}
.profile-story {
  height: 151px;
  width: 113px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.profile-story-2 {
  height: 200px;
  width: 113px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.text-bottom {
  height:49px;
  width: 113px;
  color: white;
  font-size: 12px;
  background-color: rgb(37, 39, 40);

  position: absolute;
  bottom: 0px;
  
  display: flex;
  align-items: end;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.create-news {
  height: 10px;
}
.plus-icon {
  color: white ;
  font-size: 33px;
  font-family: Arial;
}
.plus-button {
  position: absolute;
  top: -18px;
  height: 32px;
  width: 32px;
  background-color: rgb(20, 96, 255);

  border: 4px solid rgb(37, 39, 40);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.str2 {
  margin-left: 7px;
  height: 200px;
  position: relative;
}
.icon-str {
  height: 32px;
  width: 32px;
  object-fit: cover;
  object-position: center;
  border: 4.5px solid  rgb(36, 112, 243);
  border-radius: 50%;
  position: absolute;

  top: 12px;
  left: 9px;
}
.text-bottom-2 {
  position: absolute;
  bottom: 0px;

  height:49px;
  width: 113px;
  color: white;
  font-size: 12px;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.name-author {
  width: 80px;
  padding-left: 13px;
  font-size: 13.5px;
  line-height: 18px;
}

.post {
  height: auto;
  width: 590px;
  margin-top: 15px;
}
.top-section {
  height: 66px;
  background-color: rgb(37, 39, 40);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.profile-3-icon {
  height: 38px;
  width: 38px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}
.profile-3-icon:hover {
  opacity: 0.9;
}
.profile-3-button {
  height: 40px;
  width: 40px;
  border: 1.5px solid rgb(71, 71, 71);
  margin-left: 12px;
  border-radius: 50%;
}
.name-author-post {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.author {
  font-family: Arial;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.author:hover {
  text-decoration: underline;
}
.time-upload {
  margin-top: 2px;
  color: rgb(168, 168, 168);
  font-size: 12.5px;
  cursor: pointer;
}
.time-upload:hover {
  text-decoration: underline;
}
.earth-icon {
  height: 11px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.close-icon{
  color:  rgb(168, 168, 168);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 33px;
  height: 36px;
  padding-left: 8.5px;
  padding-right: 8.5px;
  cursor: pointer;
}
.close-icon:hover {
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 50%;
}
.three-dots-icon {
  color:  rgb(168, 168, 168);
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 47px;
  padding: 9.5px 10px;
  cursor: pointer;
}
.three-dots-icon:hover {
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 50%;
}
.function-tool {
  display: flex;
  flex-direction: row;
}
.caption {
  width: 590px;
  height: 347px;
  background-color: rgb(233, 6, 63);
  color: white;

  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-caption {
  width: 500px;
} 
.text-caption-2 {
  font-size: 14.5px;
  width: 540px;
  margin-left: 15px;
}
.line-2,
.line-1 {
  padding-bottom: 7px;
  line-height: 20px;
}
.line-3 {
  padding-bottom: 7px;
}
.post-1-image {
  height: 500px;
  width: 500px;

  object-fit: cover;
  object-position: center;
}
.background-post-1 {
  height: 500px;
  width: 590px;
  background-color: rgb(31, 33, 32);

  display: flex;
  justify-content: center;
}
.background-caption-2 {
  background-color: rgb(36, 39, 40);
  color: white;
  width: 590px;
  display: flex;
  justify-content: start;
}
.feeling-count-bar {
  height: 37px;
  width: 590px;
  background-color: rgb(37, 39, 40);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.like-icon {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid rgb(37, 39, 40);
  position: absolute;
  left: 2px;
  z-index: 2;
  cursor: pointer;
  top: -10px;

}
.like-button {
  position: relative;

  display: flex;
  justify-content: center;
}
.title-like {
  color: black;
  font-weight: bold;
}
.tooltip-like {
  z-index: 2;
  font-size: 12px;
  white-space: nowrap;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(210, 210, 210);

  position: absolute;
  top: -325px;
  left: -62px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
.like-button:hover .tooltip-like {
  opacity: 1;
  visibility: visible;
}
.haha-icon {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  left: 21px;
  top: -8.5px;
  cursor: pointer;
}
.haha-button {
  position: relative;

  display: flex;
  justify-content: center;
}
.title-haha {
  color: black;
  font-weight: bold;
}
.tooltip-haha {
  z-index: 2;
  font-size: 12px;
  white-space: nowrap;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(203, 203, 203);

  position: absolute;
  top: -325px;
  left: -32px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
.haha-button:hover .tooltip-haha {
  opacity: 1;
  visibility: visible;
}
.icon-count {
  width: 80px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
  position: relative;
}
.count-views {
  color: rgb(168, 168, 168);
  font-size: 14px;
  padding-left: 6px;
  position: absolute;
  left: 36px;
}
.count-coment {
  color: rgb(168, 168, 168);
  font-size: 14px;
  padding-right: 12px;
  cursor: pointer;
} 
.count-coment:hover {
  text-decoration: underline;
}
.feeling-bar {
  height: 44px;
  width: 590px;
  background-color: rgb(37, 39, 40);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.feeling-bar-2 {
  height: 44px;
  width: 590px;
  background-color: rgb(37, 39, 40);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.item-feeling-bar {
  border-top-style: solid;
  border-top-color:  rgb(56, 56, 56);
  border-top-width: 1px;

  border-bottom-style: solid;
  border-bottom-color:  rgb(56, 56, 56);
  border-bottom-width: 1px;

  display: flex;
  width: 562px;
  height: 36px;

  justify-content: space-between;
}
.item-feeling-bar-2 {
  border-top-style: solid;
  border-top-color:  rgb(56, 56, 56);
  border-top-width: 1px;


  display: flex;
  width: 562px;
  height: 36px;

  justify-content: space-between;
}
.item {
  height: 100%;
  width: 135px;

  border: none;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item:hover {
  background-color: rgb(71, 71, 71);
}
.black-icon {
  height: 15px;
}
.name-black-icon {
  color: rgb(168, 168, 168);
  font-size: 14px;
  margin-left: 5px;
}
.comment {
  height: 147px;
  background-color: rgb(37, 39, 40);
  color: rgb(241, 241, 241);
}
.author-top{
  width: 562px;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 5px;
}
.avt-comment {
  height: 30px;
  border: none;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
  margin-left: 15px;
}
.content-comment {
  font-size: 13.5px;
  width: 490px;
  background-color: rgb(71, 71, 71);
  padding: 6px 10px;
  border: none;
  border-radius: 14px;
}
.more-icon-comment {
  font-size: 14.5;
  font-weight: bold;
}
.more-info-comment:hover {
  text-decoration: underline;
  cursor: pointer;
}
.coppyright-icon {
  height: 11.5px;
  border: none;
  border-radius: 50%;
}
.comment-colums {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-left: 7px;
  line-height: 17px;
}
.react-comment {
  height:15px;
  margin-top: 5px;
  margin-left: 63px;
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.count-react-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.haha-icon-comment {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  z-index: 1;

  position: absolute;
  top: 4px;
  right: 10px;
}
.like-icon-comment {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid rgb(37, 39, 40);
  z-index: 2;
  position: absolute;
  top: 2px;
  right: 25px;
}
.info-react-comment {
  font-size: 12px;
  color: rgb(168, 168, 168);
  cursor: pointer;
}
.right-icon-react-comment {
  position: relative;
  width: 47px;
  height: 25px;
  cursor: pointer;
}
.profile-comment {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: bottom;
}
.write-comment-bar {
  padding-top: 3px;
  padding-bottom: 4px;
  height: 40px;
  width: 590px;
  background-color: rgb(37, 39, 40);

  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.profile-button {
  height: 30px;
  width: 30px;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}
.more-icon-comment {
  height: 8px;
  width: 8px;
  border: 1px solid rgb(37, 39, 40);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  bottom: 0.5px;
  right: 0.2px;
}
.comment-bar {
  height: 30px;
  width: 525px;
  background-color: rgb(55, 55, 55);
  border-radius: 20px;
  border: none;
  margin-left: 5px;
}
.comment-bar::placeholder{
  color: rgb(168, 168, 168);
  font-size: 12px;
  padding-left: 10px;

}
.comment-bar-vertical {
  height: 32px;
  width: 590px;
  position: relative;
  display: flex;
  align-items: center;
}
.comment-with-emoticons,
.comment-with-avatar-sticker {
  height: 16.5px;
  border: none;
  border-radius: 50%;
}
.comment-with-images {
  height: 15px;
  border: none;
  border-radius: 6px;
}
.comment-with-gif-file {
  height: 15.5px;
  border: none;
  border-radius: 6px;
}
.comment-with-gif-sticker {
  border: none;
  border-radius: 5px;
  height: 16px;
}
.group-symbol-comment {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 25px;
  bottom: 4px;
}
.comment-with-avatar-sticker-button,
.comment-with-emoticons-button,
.comment-with-images-button,
.comment-with-gif-file-button,
.comment-with-gif-sticker-button {
  height: 16px;
  padding: 4px 4px;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  position: relative;
}
.tooltip-incomment {
  z-index: 2;
  font-size: 12px;
  white-space: nowrap;
  color: black;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(203, 203, 203);

  position: absolute;
  top: -30px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
.comment-with-avatar-sticker-button:hover,
.comment-with-emoticons-button:hover,
.comment-with-images-button:hover,
.comment-with-gif-file-button:hover,
.comment-with-gif-sticker-button:hover {
  background-color: rgb(71, 71, 71);

}
.comment-with-gif-sticker-button:hover .tooltip-incomment,
.comment-with-gif-file-button:hover .tooltip-incomment,
.comment-with-images-button:hover .tooltip-incomment,
.comment-with-emoticons-button:hover .tooltip-incomment,
.comment-with-avatar-sticker-button:hover .tooltip-incomment {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}
.tooltip-profile-background {
  width: 400px;
  height: 297px;
  background-color: rgb(37, 39, 40);

  border:1px solid rgb(71, 71, 71);
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.25);
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s, linear 0.3s;
}
.avt-tooltip {
  height: 96px;
  width: 96px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}
.tooltip-profile {
  width: 365px;
  height: 265px;
  position: relative;
  color: white;

}
.profile-3-button:hover .tooltip-profile-background {
  opacity: 1;
  visibility: visible;

}
.name-author-tooltip {
  color: white;
  font-size: 21px;
  margin-bottom: 10px;
  cursor: pointer;
}
.i-icon {
  height: 21px;
  border-radius: 50%;
}
.human-icon {
  height: 21px;
  border-radius: 3px;
}

.phone-icon {
  height: 18px;
}
.follow-icon {
  height: 19px;
}
.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.page-2 {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 10px;
}
.des {
  font-size: 15.5px;
  margin-left: 7px;
}
.des-2 {
  font-size: 15.5px;
  margin-left: 10px;
}
.des-3 {
  font-size: 15.5px;
  margin-left: 10px;
}
.des-link{
  color: rgb(47, 122, 251);
}
.des-4 {
  font-size: 15.5px;
  margin-left: 11px;
}
.information {
  width: 250px;
  height: 194px;
  display: flex;
  flex-direction: column;
  

  position: absolute;
  top: 0;
  right: 5px;
}
.tooltip-button {
  height: 68px;
  width: 365px;
  z-index: 1;
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.inbox-button {
  height: 36px;
  width: 154px;
  background-color: rgb(23, 107, 251);
  border: none;
  border-radius: 5px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inbox-button:hover {
  background-color: rgb(47, 122, 251);
}
.follow-button {
  height: 36px;
  width: 154px;
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 5px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.follow-button:hover {
  background-color: rgb(79, 81, 82);
}
.three-dots {
  width: 48px;
  height: 36px;
  background-color: rgb(71, 71, 71);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.three-dots:hover {
  background-color: rgb(79, 81, 82);
}
.message-blue {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.follow-2 {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.text-follow-2,
.text-message-blue {
  font-size: 15px;
}